@import './../../styles/variables.scss';

.nav {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;

  &__list{
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
    text-align: center;

    li{
      display: inline-block;
      border-radius: 8px;
      transition: .3s ease color;
      &:hover{
        color: black;
      }
    }
    a{
      display: inline-block;
      font-family: sans-serif;
      padding: 1rem 2rem;
      color: #2b2b2b;
      outline: none;
    }
  }
}

.mobile{
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 4rem;
  cursor: pointer;
  display: none;
  outline: none;
}

.mobileclose{
  display: none;
}

@media only screen and (max-width: 700px){
  .mobile{
    display: block;
  }
  .nav__list{
    transition: .3s ease transform;
    background-color: red;
    padding: 2rem;
    width: 90%;
    max-width: 300px;
    border-radius: 12px;
    position: absolute;
    right: 1rem;
    top: $toppos;
    .mobileclose{
      display: block;
      width: 2rem;
      margin: 0 0 0 auto;
      cursor: pointer;
      * {
        pointer-events: none;
      }
    }
  }
  
}