@import './../../styles/variables.scss';

.nav {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;

  &__list{
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
    text-align: center;

    li{
      display: inline-block;
      border-radius: 8px;
      transition: .3s ease color;
      &:hover{
        color: black;
      }
    }
    a{
      display: inline-block;
      font-family: sans-serif;
      padding: 1rem 2rem;
      color: #2b2b2b;
      outline: none;
    }
  }
}